[Unit]
Description=Universal Autotrade Service for %i
After=network.target

[Service]
ExecStart=/usr/bin/universal-autotrade -pair=%i
Restart=always
User=autotrade
WorkingDirectory=/var/lib/universal-autotrade

[Install]
WantedBy=multi-user.target
